@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/056aed87d1c06fc1-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/fa20d34f39b8e361-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/f5a34056b885fb39-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/df28f01e4394571f-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/f4c2bd0542d14757-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/9c08dcdd59d35a98-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/0296e7c07657fa49-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/0459114ed2a48651-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/ab53fbadd63d8b6a-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/e1928a7eb44408d5-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/7406a46b8239e367-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/91a85785e954d323-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/d28c3f08608acd11-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/af380f85c9cab091-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/9669862a776d4b8f-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/6a477db88630c391-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/e9070d431688c416-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/4276133a9aa57fa4-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/415e30210b9f9333-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/9aef62aea25192c2-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/4021f9c7c554a14f-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/e775742aa390e7d6-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/201ded837a98511b-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/811c33ed6d14612b-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/db314cf79b8ebfbe-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/3bffe64af5b62cef-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/fe3fa68d2c68b947-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/577cada938b38426-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/09c0a93df34bc0c9-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/_next/static/media/4999140886bd579c-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/dad1f6bfca56e75e-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/40b27f7dcca20a14-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/_next/static/media/d590b5651062e08e-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/f78f80800da1b56d-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/b14d863380b7220f-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/_next/static/media/77b1ecd89db9adc2-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/76f85175de9485bf-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/b27c706639ed0ce8-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/_next/static/media/fc6d8b10b7b1f644-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/85ae9b4f4e1f55b0-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/cc1f5fabab25995c-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/_next/static/media/aed5f820244f2ee5-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/8a07907b1c0a0fa7-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/20b7d82cb5f5783a-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/_next/static/media/842eba58994a5460-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/c562c6e6b7975def-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/f2b0e3876f711795-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/_next/static/media/d5d5675f0c147195-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/baa33d7d9c5a2855-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/bc2c09677d9b58cc-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/_next/static/media/939d8b039e3953b7-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/356ac0abdf755dba-s.p.woff2) format("woff2");
    unicode-range: u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/e16da29b01c3a071-s.woff2) format("woff2");
    unicode-range: u+0100-02af, u+0304, u+0308, u+0329, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}

@font-face {
    font-family: __Be_Vietnam_Pro_58ec74;
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/_next/static/media/21dca4c8c75d37e0-s.p.woff2) format("woff2");
    unicode-range: u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+2074, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}

@font-face {
    font-family: __Be_Vietnam_Pro_Fallback_58ec74;
    src: local("Arial");
    ascent-override: 90.61%;
    descent-override: 24.01%;
    line-gap-override: 0.00%;
    size-adjust: 110.36%
}

.__className_58ec74 {
    font-family: __Be_Vietnam_Pro_58ec74, __Be_Vietnam_Pro_Fallback_58ec74
}