.elementor-1558 .elementor-element.elementor-element-1341bce5>.elementor-container {
    min-height: 210px
}

.elementor-1558 .elementor-element.elementor-element-1341bce5:not(.elementor-motion-effects-element-type-background),
.elementor-1558 .elementor-element.elementor-element-1341bce5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-1558 .elementor-element.elementor-element-1341bce5 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 30px 0
}

.elementor-1558 .elementor-element.elementor-element-1341bce5>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-1558 .elementor-element.elementor-element-3a7570b9.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-1558 .elementor-element.elementor-element-3a7570b9.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-1558 .elementor-element.elementor-element-3a7570b9>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1558 .elementor-element.elementor-element-3a7570b9>.elementor-element-populated {
    margin: 10px 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 0
}

.elementor-1558 .elementor-element.elementor-element-403c3716>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1558 .elementor-element.elementor-element-403c3716>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 10px 0 0
}

.elementor-1558 .elementor-element.elementor-element-2372a98a {
    text-align: justify;
    color: #58595b;
    font-family: "montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.1em
}

.elementor-1558 .elementor-element.elementor-element-250bc02d>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1558 .elementor-element.elementor-element-250bc02d>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 10px 0 0
}

.elementor-1558 .elementor-element.elementor-element-1ce27f26 {
    text-align: justify;
    color: #58595b;
    font-family: "montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.1em
}

.elementor-1558 .elementor-element.elementor-element-62838eea>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1558 .elementor-element.elementor-element-62838eea>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0 10px 0 0
}

.elementor-1558 .elementor-element.elementor-element-19048ad0 {
    text-align: justify;
    color: #58595b;
    font-family: "montserrat", Sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 2.1em
}

.elementor-1558 .elementor-element.elementor-element-38319b7e>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-1558 .elementor-element.elementor-element-38319b7e>.elementor-element-populated {
    margin: 0 0 20px 10px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 10px;
    padding: 0 10px 0 0
}

.elementor-1558 .elementor-element.elementor-element-35bcb7d8 .elementor-heading-title {
    color: #58595b;
    font-family: "montserrat", Sans-serif;
    font-weight: 300
}

.elementor-1558 .elementor-element.elementor-element-35bcb7d8>.elementor-widget-container {
    margin: 0 0 6px
}

.elementor-1558 .elementor-element.elementor-element-31a169e5 {
    text-align: left;
    width: var(--container-widget-width, 54.751%);
    max-width: 54.751%;
    --container-widget-width: 54.751%;
    --container-widget-flex-grow: 0
}

.elementor-1558 .elementor-element.elementor-element-31a169e5 img {
    width: 100%
}

.elementor-1558 .elementor-element.elementor-element-31a169e5>.elementor-widget-container {
    margin: 0 10px 10px 0
}

.elementor-1558 .elementor-element.elementor-element-7ecc18b2 {
    text-align: right;
    width: var(--container-widget-width, 40.995%);
    max-width: 40.995%;
    --container-widget-width: 40.995%;
    --container-widget-flex-grow: 0
}

.elementor-1558 .elementor-element.elementor-element-7ecc18b2 img {
    width: 100%
}

.elementor-1558 .elementor-element.elementor-element-7ecc18b2>.elementor-widget-container {
    margin: 0 10px 10px 0
}

.elementor-1558 .elementor-element.elementor-element-26eb5a10 img {
    width: 100%
}

.elementor-1558 .elementor-element.elementor-element-26eb5a10>.elementor-widget-container {
    margin: 0 10px 10px 0
}

.elementor-1558 .elementor-element.elementor-element-26eb5a10 {
    width: var(--container-widget-width, 29.05%);
    max-width: 29.05%;
    --container-widget-width: 29.05%;
    --container-widget-flex-grow: 0
}

.elementor-1558 .elementor-element.elementor-element-5c9d4006 img {
    width: 100%
}

.elementor-1558 .elementor-element.elementor-element-5c9d4006>.elementor-widget-container {
    margin: 0 10px 10px 0
}

.elementor-1558 .elementor-element.elementor-element-5c9d4006 {
    width: var(--container-widget-width, 25.43%);
    max-width: 25.43%;
    --container-widget-width: 25.43%;
    --container-widget-flex-grow: 0
}

.elementor-1558 .elementor-element.elementor-element-50c67956 {
    text-align: center
}

.elementor-1558 .elementor-element.elementor-element-50c67956 .elementor-heading-title {
    color: #000;
    font-family: "montserrat", Sans-serif;
    font-weight: 700
}

.elementor-1558 .elementor-element.elementor-element-50c67956>.elementor-widget-container {
    padding: 10px 0;
    background-color: #fff
}

.elementor-1558 .elementor-element.elementor-element-28e3e817:not(.elementor-motion-effects-element-type-background),
.elementor-1558 .elementor-element.elementor-element-28e3e817>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f9f9f9
}

.elementor-1558 .elementor-element.elementor-element-28e3e817 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-1558 .elementor-element.elementor-element-28e3e817>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-1558 .elementor-element.elementor-element-7896e176 {
    text-align: justify;
    color: #58595b;
    font-size: 14px
}

.elementor-1558 .elementor-element.elementor-element-7598fcc9 {
    text-align: justify;
    color: #58595b;
    font-size: 14px
}

.elementor-1558 .elementor-element.elementor-element-1228133f {
    text-align: justify;
    color: #58595b;
    font-size: 14px
}

.elementor-1558 .elementor-element.elementor-element-7aaecc34 .elementor-heading-title {
    color: #58595b
}

.elementor-1558 .elementor-element.elementor-element-1aebb9be {
    text-align: left
}

.elementor-1558 .elementor-element.elementor-element-1aebb9be img {
    height: 28px
}

.elementor-1558 .elementor-element.elementor-element-1aebb9be>.elementor-widget-container {
    margin: 0
}

.elementor-1558 .elementor-element.elementor-element-57d1b7c6 {
    text-align: left
}

.elementor-1558 .elementor-element.elementor-element-57d1b7c6 img {
    height: 28px
}

.elementor-1558 .elementor-element.elementor-element-57d1b7c6>.elementor-widget-container {
    margin: 0
}

.elementor-1558 .elementor-element.elementor-element-193cacc7 {
    text-align: left
}

.elementor-1558 .elementor-element.elementor-element-193cacc7 img {
    height: 28px
}

.elementor-1558 .elementor-element.elementor-element-193cacc7>.elementor-widget-container {
    margin: 0
}

.elementor-1558 .elementor-element.elementor-element-71121f2e {
    text-align: left
}

.elementor-1558 .elementor-element.elementor-element-71121f2e img {
    height: 23px
}

.elementor-1558 .elementor-element.elementor-element-71121f2e>.elementor-widget-container {
    margin: 0
}

.elementor-1558 .elementor-element.elementor-element-a7a562 .elementor-heading-title {
    color: #000
}

.elementor-1558 .elementor-element.elementor-element-a7a562>.elementor-widget-container {
    background-color: #f9f9f9
}

@media(min-width:768px) {
    .elementor-1558 .elementor-element.elementor-element-403c3716 {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-250bc02d {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-62838eea {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-38319b7e {
        width: 25%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-1558 .elementor-element.elementor-element-69e7642d {
        width: 100%
    }
    .elementor-1558 .elementor-element.elementor-element-4f069600 {
        width: 100%
    }
    .elementor-1558 .elementor-element.elementor-element-3dd44868 {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-b36f091 {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-2faea42 {
        width: 25%
    }
    .elementor-1558 .elementor-element.elementor-element-36f3a91e {
        width: 25%
    }
}

@media(max-width:1024px) {
    .elementor-1558 .elementor-element.elementor-element-50c67956 {
        text-align: center
    }
    .elementor-1558 .elementor-element.elementor-element-50c67956>.elementor-widget-container {
        padding: 10px
    }
    .elementor-1558 .elementor-element.elementor-element-28e3e817 {
        padding: 12px 0
    }
    .elementor-bc-flex-widget .elementor-1558 .elementor-element.elementor-element-69e7642d.elementor-column .elementor-widget-wrap {
        align-items: center
    }
    .elementor-1558 .elementor-element.elementor-element-69e7642d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center
    }
    .elementor-1558 .elementor-element.elementor-element-7aaecc34 {
        text-align: center
    }
    .elementor-1558 .elementor-element.elementor-element-1aebb9be {
        text-align: left
    }
    .elementor-1558 .elementor-element.elementor-element-1aebb9be img {
        height: 35px
    }
    .elementor-1558 .elementor-element.elementor-element-57d1b7c6 {
        text-align: center
    }
    .elementor-1558 .elementor-element.elementor-element-57d1b7c6 img {
        height: 35px
    }
    .elementor-1558 .elementor-element.elementor-element-193cacc7 {
        text-align: center;
        width: var(--container-widget-width, 174.75px);
        max-width: 174.75px;
        --container-widget-width: 174.75px;
        --container-widget-flex-grow: 0
    }
    .elementor-1558 .elementor-element.elementor-element-193cacc7 img {
        height: 35px
    }
    .elementor-1558 .elementor-element.elementor-element-71121f2e {
        text-align: right
    }
    .elementor-1558 .elementor-element.elementor-element-71121f2e img {
        height: 30px
    }
    .elementor-1558 .elementor-element.elementor-element-71121f2e>.elementor-widget-container {
        padding: 0 0 4px
    }
    .elementor-1558 .elementor-element.elementor-element-a7a562 {
        text-align: center
    }
    .elementor-1558 .elementor-element.elementor-element-a7a562>.elementor-widget-container {
        margin: 10px;
        padding: 10px
    }
}

@media(max-width:767px) {
    .elementor-1558 .elementor-element.elementor-element-1341bce5 {
        padding: 30px 0
    }
    .elementor-1558 .elementor-element.elementor-element-3a7570b9>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0 5px 0 15px
    }
    .elementor-1558 .elementor-element.elementor-element-38319b7e>.elementor-element-populated {
        margin: 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
        padding: 0
    }
    .elementor-1558 .elementor-element.elementor-element-35bcb7d8>.elementor-widget-container {
        margin: 0 0 6px
    }
    .elementor-1558 .elementor-element.elementor-element-7ecc18b2 {
        text-align: left;
        width: var(--container-widget-width, 324.375px);
        max-width: 324.375px;
        --container-widget-width: 324.375px;
        --container-widget-flex-grow: 0
    }
    .elementor-1558 .elementor-element.elementor-element-26eb5a10 {
        text-align: left
    }
    .elementor-1558 .elementor-element.elementor-element-5c9d4006 {
        text-align: left;
        width: var(--container-widget-width, 323.438px);
        max-width: 323.438px;
        --container-widget-width: 323.438px;
        --container-widget-flex-grow: 0
    }
    .elementor-1558 .elementor-element.elementor-element-50c67956>.elementor-widget-container {
        margin: 10px 0 0
    }
    .elementor-1558 .elementor-element.elementor-element-69e7642d {
        width: 100%
    }
    .elementor-bc-flex-widget .elementor-1558 .elementor-element.elementor-element-69e7642d.elementor-column .elementor-widget-wrap {
        align-items: center
    }
    .elementor-1558 .elementor-element.elementor-element-69e7642d.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center
    }
}

#footer-copyright {
    font-size: 10px;
    text-align: center
}

@media (min-width:768px) {
    #footer-copyright {
        font-size: 16px
    }
}

@media(max-width:540px) {
    .elementor-1558 .elementor-element.elementor-element-3a7570b9>div {
        margin-left: 0 !important
    }
}

#scn_footer h3 {
    margin-bottom: 6px
}

#scn_footer {
    box-shadow: inset 0px 16px 20px 0 #e7e7e8
}

#footer-copyright {
    font-size: 14px;
    text-align: center
}

@media (min-width:768px) {
    #footer-copyright {
        font-size: 16px
    }
}

@media (max-width:767px) {
    .footer_logo_social .elementor-column {
        width: 50%
    }
}

@media (max-width:1024px) and (min-width:569px) {
    .elementor-social-icon {
        font-size: 20px
    }
}

@media (max-width:568px) {
    .elementor-social-icon {
        font-size: 12px
    }
}